<div class="container">

  <div *ngIf="tournament">
    <h4>
      <b>Títol: {{ tournament.title | titlecase }}</b>
    </h4>

    <p>Status: {{ tournament.status }}</p>
    <p>Creat per: {{ tournament.ownerName }}</p>
    <p>Aparellament: {{ tournament.pairingName }}</p>
    <p>Desempat: {{ tournament.tiebreakerName }}</p>
    <mat-list role="navigation">
      <mat-list-item><button mat-button color="primary" (click)="goBlogPage(tournament.tournamentId)">Blog del
          Torneig</button></mat-list-item>
      <mat-list-item><button mat-button color="primary"
          (click)="goClassification(tournament.tournamentId)">Classificació del Torneig</button></mat-list-item>
      <mat-list-item><button mat-button color="primary" (click)="goOldResults(tournament.tournamentId)">Resultats Rondes
          Anteriors</button></mat-list-item>
      <mat-list-item><button mat-button color="primary" (click)="goNextPairing(tournament.tournamentId)">Aparellaments
          Propera Ronda</button></mat-list-item>
      <mat-list-item><button *ngIf="permission" mat-button color="primary"
          (click)="goAddParticipant(tournament.tournamentId)">Afegir Participants</button></mat-list-item>
      <mat-list-item><button *ngIf="permission" mat-button color="primary"
          (click)="goNewPairing(tournament.tournamentId)">Generar Aparellaments</button></mat-list-item>
      <mat-list-item><button *ngIf="permission" mat-button color="primary"
          (click)="goEnterResults(tournament.tournamentId)">Introduir Resultats</button></mat-list-item>
    </mat-list>
  </div>
</div>