<h1>Formulari de Nou Comentari</h1>
<form [formGroup]="commentForm" (ngSubmit)="sendForm()">
  <section>
    <mat-form-field style="width: 80vw;" appearance="fill">
      <mat-label>Comentari: </mat-label>
      <textarea matInput [formControl]="text"></textarea>
      <mat-error *ngIf="text.invalid">{{ getTextErrorMessage() }}</mat-error>
    </mat-form-field>
  </section>

  <button id="sendButton" mat-raised-button color="primary" type="submit" [disabled]="!commentForm.valid">AFEGIR
    COMENTARI</button>


  <!--   <button mat-raised-button color="primary" type="button" (click)="mostrarDatos()">MOSTRAR DATOS</button>  -->

</form>

<mat-list>
  <mat-list-item>
    <button mat-button color="primary" (click)="goBlogPage()">Blog del Torneig</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button color="primary" (click)="goTournamentDetail()">Detalls del Torneig</button>
  </mat-list-item>
</mat-list>