<h2>Resultats de la ronda {{id2}} </h2>

<div class="table">
  <table mat-table [dataSource]="games" class="mat-elevation-z8">
    <!-- Board Column -->
    <ng-container matColumnDef="boardNumber">
      <th mat-header-cell *matHeaderCellDef> Taulell </th>
      <td mat-cell *matCellDef="let game"> {{game.boardNumber}} </td>
    </ng-container>
    <!-- Player1 Name Column -->
    <ng-container matColumnDef="player1">
      <th mat-header-cell *matHeaderCellDef> Nom Jugador Blanques </th>
      <td mat-cell *matCellDef="let game"> {{game.player1}} </td>
    </ng-container>
    <!-- Player1 Score Column -->
    <ng-container matColumnDef="result1">
      <th mat-header-cell *matHeaderCellDef> Resultat Blanques </th>
      <td mat-cell *matCellDef="let game"> {{game.result1}} </td>
    </ng-container>
    <!-- Player2 Name Column -->
    <ng-container matColumnDef="player2">
      <th mat-header-cell *matHeaderCellDef> Nom Jugador Negres </th>
      <td mat-cell *matCellDef="let game"> {{game.player2}} </td>
    </ng-container>
    <!-- Player2 Score Column -->
    <ng-container matColumnDef="result2">
      <th mat-header-cell *matHeaderCellDef> Resultat Negres </th>
      <td mat-cell *matCellDef="let game"> {{game.result2}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button color="primary" (click)="goTournamentDetail(id1)">
    Detalls del Torneig
  </button>
</div>