<h1>Aquesta és la pàgina d'inici de l'aplicació</h1>

<h2>No saps on anar? Llegeix el que t'expliquem a continuació o ves directament a la secció de <a
        [routerLink]="['/faqs']">FAQS</a>.</h2>

<mat-list>
    <mat-list-item>
        <p>Pots tornar sempre que vulguis a aquesta pàgina amb el botó <a [routerLink]="['/home']"><b>Inici</b></a></p>
    </mat-list-item>
    <mat-list-item>
        <p>Si tens un usuari, pots iniciar sessió amb el botó <a [routerLink]="['/login']"><b>Login</b></a></p>
    </mat-list-item>
    <mat-list-item>
        <p>Si no tens usuari, et pots registrar amb el botó <a [routerLink]="['/register']"><b>Registre</b></a></p>
    </mat-list-item>
    <mat-list-item>
        <p>Si vols veure la llista de tornejos, la trobarás clicant al botó <a
                [routerLink]="['/tournaments']"><b>Tornejos</b></a></p>
    </mat-list-item>
    <mat-list-item>
        <p>Pots consultar la secció de Preguntes Freqüents amb el botó <a [routerLink]="['/faqs']"><b>FAQS</b></a></p>
    </mat-list-item>
</mat-list>