<h1>Preguntes Freqüents</h1>

<ul>
  <li>
    <h3>Què és Skac i Mat?</h3>
    <p>Skac i Mat és una aplicació web especialitzada en la gestió de tornejos d'escacs. Permet als usuaris crear i
      organitzar tornejos utilitzant els sistemes Suis o Round Robin, així com aplicar els sistemes de desempat Buchholz
      o Sonneborn-Berger. Tingues en compte que, tot i que la gestió és online, l'aplicació no permet jugar les partides
      online.</p>
  </li>
  <li>
    <h3>Com puc utilitzar Skac i Mat?</h3>
    <p>Per utilitzar totes les funcionalitats de l'aplicació, has de registrar-te i iniciar sessió amb el teu compte.
      Això et donarà accés complet a la gestió de tornejos, així com a altres funcionalitats exclusives.</p>
  </li>
  <li>
    <h3>Com puc registrar-me?</h3>
    <p>Per registrar-te, ves a la pàgina d'inici i trobaràs un enllaç al formulari de registre, o ves-hi directament des
      del botó del menú superior. Omple tots els camps necessaris i segueix les instruccions per crear el teu compte.
    </p>
  </li>
  <li>
    <h3>Com puc iniciar sessió?</h3>
    <p>Després de registrar-te, podràs iniciar sessió a través de la pàgina d'inici o del botó del menú superior, amb el
      teu mail i contrasenya, mitjançant el formulari de log-in.</p>
  </li>
  <li>
    <h3>Com puc participar en un torneig com a jugador?</h3>
    <p>Per participar en un torneig és necessari que l'organitzador del torneig t'apunti com a participant. Hauràs de
      contactar amb ell de manera externa a l'aplicació, ja que de moment no desposa d'aquesta funcionalitat.</p>
  </li>
  <li>
    <h3>Puc veure el blog sense iniciar sessió?</h3>
    <p>Sí, el blog del torneig és públic, i qualsevol pot veure els continguts sense necessitat d'iniciar sessió.</p>
  </li>
  <li>
    <h3>Puc escriure en el blog del torneig sense haver iniciat sessió?</h3>
    <p>Només els usuaris registrats poden escriure en el blog del torneig. Si encara no tens un compte, has de
      registrar-te abans d'escriure comentaris.</p>
  </li>
  <li>
    <h3>Puc esborrar els meus propis comentaris al blog?</h3>
    <p>Sí, com a usuari registrat, pots eliminar els teus propis comentaris en qualsevol moment.</p>
  </li>
  <li>
    <h3>El creador del torneig pot esborrar els comentaris dels altres participants?</h3>
    <p>Sí, el creador del torneig té la capacitat de suprimir els comentaris de tots els participants del torneig. Això
      només ho ha de fer en cas que els comentaris siguin de contingut inadequat, però no ens podem fer responsables del
      bon us d'aquesta capacitat per part de l'organitzador.</p>
  </li>
  <li>
    <h3>Quines funcionalitats exclusives té el creador del torneig?</h3>
    <p>El creador del torneig pot afegir els participants amb un formulari, introduir els resultats de la ronda actual i
      generar els aparellaments per la propera ronda, a més de la potestat d'esborrar els comentaris del blog del
      torneig de qualsevol usuari.</p>
  </li>
</ul>

<p>Ara que tens una visió general de les funcionalitats i com utilitzar Skac i Mat, et convidem a explorar i gaudir del
  teu temps en aquesta plataforma d'organització de tornejos d'escacs. Si tens altres preguntes, no dubtis en contactar
  amb nosaltres a través del correu jblanco@uoc.edu.</p>