<footer>
  <mat-grid-list cols="6" role="list">
    <mat-grid-tile role="listitem">
      <img class="logo" src="../../../../assets/icon.jpg" />
    </mat-grid-tile>
    <mat-grid-tile colspan="2" role="listitem">
      <p>Màster Universitari en Desenvolupament de llocs i aplicacions web</p>
    </mat-grid-tile>
    <mat-grid-tile role="listitem">
      <p>UOC</p>
    </mat-grid-tile>
    <mat-grid-tile role="listitem">
      <p>Treball Final de Màster</p>
    </mat-grid-tile>
    <mat-grid-tile role="listitem">
      <p>Autor: Juan Blanco</p>
    </mat-grid-tile>
  </mat-grid-list>
</footer>